<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.tajil">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tajil">
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".CounterActivity"
            android:exported="false"
            android:theme="@style/nbc" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.pushpole.sdk.token"
            android:value="PUSHPOLE_436621002740" />

    </application>

</manifest>